<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <ignore_files>/*.tmp$/
desktop.ini
Thumbs.db</ignore_files>
  <ignore_folders>System Volume Information
$Recycle.Bin
.git
</ignore_folders>
  <folder>C:\Users\dlang_local\Desktop\</folder>
  <delete_stats>622</delete_stats>
  <max_folder>10000</max_folder>
  <log_file>C:\Users\dlang_local\appData\Roaming\redt.log</log_file>
  <delete_readonly>True</delete_readonly>
</settings>